[submodule "deps/zydis"]
	path = deps/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "deps/lua/src"]
	path = deps/lua/src
	url = https://github.com/lua/lua
[submodule "deps/phnt"]
	path = deps/phnt
	url = https://github.com/hugsy/phnt
[submodule "deps/arch-arm64"]
	path = deps/arch-arm64
	url = https://github.com/hugsy/arch-arm64
