# [submodule "Deps/zydis"]
# 	path = Deps/zydis
# 	url = https://github.com/zyantific/zydis.git
# [submodule "Deps/lua/src"]
# 	path = Deps/lua/src
# 	url = https://github.com/lua/lua
# [submodule "Deps/phnt"]
# 	path = Deps/phnt
# 	url = https://github.com/hugsy/phnt
# [submodule "Deps/arch-arm64"]
# 	path = Deps/arch-arm64
# 	url = https://github.com/hugsy/arch-arm64
