name: Generate documentation

on:
  push:
    branches:
      - main


# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  CMAKE_FLAGS: "-DPWN_BUILD_DOCS=ON -DPWN_INCLUDE_DISASSEMBLER=OFF -DPWN_BUILD_TOOLKIT=OFF -DPWN_BUILD_TESTING=OFF"

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install packages
        run: |
          sudo apt update && sudo apt install -y doxygen cmake nasm

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Generate API
        run: |
          mkdir build
          cmake -S . -B ./build ${{ env.CMAKE_FLAGS }}
          cmake --build ./build --verbose --target Doxygen --config Debug

      - name: Upload gh-pages artifact
        if: ${{ github.ref_name }} == "dev"
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'Docs'

      - name: Deploy to GitHub Pages
        if: ${{ github.ref_name }} == "dev"
        id: deployment
        uses: actions/deploy-pages@v4
